extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/generator', method='POST')
    p
      | Кому (должность - дат.пад):
      input(type='text', name='recipientPosition', value='')
      br
      | Кому (ФИО - дат.пад):
      input(type='text', name='recipientDt', value='')
      br
      | Кому (адрес):
      input(type='text', name='recipientAddress', value='')
      br
      | Кому (имя, отчество - им.пад):
      input(type='text', name='recipientIm', value='')
      br
      | Кому (пол):
      select(name='recipientSex')
        option(value='1') Мужской
        option(value='2') Женский
      br
      | Заявитель (ФИО - род.пад):
      input(type='text', name='applicant', value='')
      br
      | Заявитель (адрес):
      input(type='text', name='applicantAddress', value='')
      br
      | Заявитель (телефон):
      input(type='text', name='applicantTel', value='')
      br
      | Исполнитель (ФИО):
      input(type='text', name='executor', value='')
      br
      | Исполнитель (телефон):
      input(type='text', name='executorTel', value='')
    input(type='submit', value='Submit')
